[Unit]
Description=Redis Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/redis_exporter -web.listen-address ":9121" -redis.addr "redis://10.1.0.113:6379" -redis.password "j8XWAe4Fkff6KJWKF20zIS8"

[Install]
WantedBy=multi-user.target